@import "tailwindcss";

@layer base {
  body {
    background-color: #37003c;
    color: white;
  }
}

@layer utilities {
  .glass-card {
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}